header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 4vh;
    background-color: slategray;
    border: 3 0;
    border-radius: 4px;
   
    #nav > a:hover{
        background-color: rgb(85, 95, 105);
        border-radius: 2px;
    }

    a{
        text-decoration: none;
    }

    .user{
        margin-right: 5px;
    }

}

header #nav > a:hover {
    background-color: rgb(85, 95, 105);
    border-radius: 2px;
}

header a {
    text-decoration: none;
}

.user {
    margin-right: 5px;
}

header #nav {
    margin-left: 5px;
}

#nav a + a, #nav a{
    color: black;
    font-size: 1.1rem;
}



body, html {
    height: 100%;
    padding: 0;
    font-family: Arial, sans-serif;
}



main {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100vh;            /* Full viewport height */
}


/* Dropdown container */
.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    top: 40px; /* Adjust to position below the icon */
    right: 0;
    background-color: rgb(170, 178, 187);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    padding: 10px;
}

/* Dropdown links */
.dropdown-content p, .dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}